<%= render "layouts/navbar" %>
<table>
  <tr>
    <th>City</th>
    <th>Country</th>
  </tr>

  <% @cities.each do |city| %>
  <tr>
    <td><%= link_to city.name, city_path(city)%></td>
    <td><%= city.country%></td>
  </tr>
  <% end %>
</table>
