<table>
  <tr>
    <th>City</th>
    <th>Country</th>
  </tr>

  <% @cities.each do |city| %>
  <tr>
    <td><%= link_to city.name%></td>
    <td><%= link_to city.country%></td>
  </tr>
  <% end %>
</table>
