<!DOCTYPE html>
<html>
  <head>
    <title>TravelShare</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="shortcut icon" href="favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <!--  navbar -->

    <%= yield %>
  </body>
</html>
